*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* border: solid; */
    width: 100%;
    font-family: figtree;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    margin-block: 2.5em;
    height: 100%;
   
}
.main_div{
    border: solid black 2px;
    border-radius: 1.5em;
    max-width: 23em;
    margin-inline: auto;
    background-color: hsl(0, 0%, 100%);
    box-shadow:5px 10px; 
}

.svg__img{
     margin-block: 1.5em;
    
    text-align: center;
}
.cuver{
    border-radius: 1em;
}
.text__section{
  
    margin: 18px;
}
.head{
   border-radius: 0.3em;
    max-width: 6em;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    color:  hsl(0, 0%, 7%);
    font-weight: 800;
    margin-bottom: 1em;
    padding: 0.3em;
}

.date{
    margin-bottom: 1em;
    color: hsl(0, 0%, 7%);
    font-weight: 600;
}

:hover.element__head{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
   
}
.element__head{
    margin-bottom: 1em;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.text{
    margin-bottom: 1em;
    color: hsl(0, 0%, 50%);
    font-weight: 600;
 

}

.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}

.name{
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

@media screen and (max-width: 420px){
    .main_div{
        max-width: em;
    }
    
}