*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    border: solid;
    width: 100%;
   
}
.main_div{
    border: solid black;
    max-width: 25em;
    margin-inline: auto;
}

.svg__img{
     margin-bottom: 1em;
    text-align: center;
}

.text__section{
    /* border: solid; */
    margin: 25px;
}
.head{
   border-radius: 0.3em;
    max-width: 6em;
    text-align: center;
    background-color: yellow;
    font-weight: bolder;
    margin-bottom: 1em;
    padding: 0.3em;
}

.date{
    margin-bottom: 1em;
}

.element__head{
    margin-bottom: 1em;
}

.text{
    margin-bottom: 1em;
}

.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}

.name{
    font-weight: bold;
}