*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* border: solid; */
    width: 100%;
    font-family: figtree;
    font-size: 16px;
   
}
.main_div{
    border: solid black 2px;
    border-radius: 1.5em;
    max-width: 25em;
    margin-inline: auto;
    background-color: hsl(0, 0%, 100%);
    box-shadow:5px 10px; 
}

.svg__img{
     margin-bottom: 1em;
    text-align: center;
}

.text__section{
    /* border: solid; */
    margin: 25px;
}
.head{
   border-radius: 0.3em;
    max-width: 6em;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    color:  hsl(0, 0%, 7%);
    font-weight: 800;
    margin-bottom: 1em;
    padding: 0.3em;
}

.date{
    margin-bottom: 1em;
    color: hsl(0, 0%, 7%);
    font-weight: 600;
}

.element__head{
    margin-bottom: 1em;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.text{
    margin-bottom: 1em;
    color: hsl(0, 0%, 50%);
    font-weight: 600;
}

.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}

.name{
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}